<form class="form-inline" role="form">
  <div style="padding-bottom:20px;" class="form-group">
    <input type="text" class="form-control" placeholder="Change city" ng-model="city"
    onkeydown = "if (event.keyCode == 13)
                        document.getElementById('btnCity').click()">
    <button type="button" id="btnCity" class="btn btn-primary" ng-click="changeCity(city)">Change City</button>
  </div>
  <div >
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Languages 
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat="lang in languages"  >
          <a href="#"  ng-click="languageSelected(lang)">{{lang.name}}</a>
        </li>
      </ul>
      Selected Language: <img heigth="20px" width="20px" src="./images/{{selectedFlag}}.png">
    </div>
  </div>
</form>
<div >
  <button type="button" ng-show="isXL" class="btn btn-primary" ng-click="changeSize('xs')"> Switch Size to XS
  </button>
  <button type="button" ng-show="!isXL" class="btn btn-primary" ng-click="changeSize('xl')">
    Switch Size to XL
  </button>
</div>