<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left" style="padding-top: 17.5px;"> {{error}}</h5>
        <div class="btn-group pull-right" ng-if="demoActivated">
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Change city" ng-model="city">
              <button type="button" class="btn btn-primary" ng-click="changeCity(city)">Change City</button>
            </div>
            <div class="form-group">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Languages <span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li ng-repeat="lang in languages">
                    <a href="#" ng-click="languageSelected(lang)">{{lang}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>