<div class="row">
  
  <div class="col-md-12 col-xs-12">

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" style="padding-top: 7.5px;"><span class="label label-primary">{{'main.weather' | translate}} {{city}},{{country}}</span></h3>
        
      </div>
      <div class="panel-body">
        <div class="col-md-3">
          <h5 style="color:#009998">{{'main.today' | translate}}  {{formattedDate}}</h5>
          <div class="text-centered">
            <div class="row">
              <div style="float:left"><img style="width:50px;height: 50px;" ng-src="{{ imgurl }}"></div>
              <h5>{{'main.current' | translate}}: <span class="badge">{{ weather.temp.current | temp }}</span></h5>
            </div>
          </div>
          <div class="row">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">{{ weather.temp.min | temp }}</span>
                <span class="label label-primary">{{'main.min' | translate}}</span>
              </li>
              <li class="list-group-item">
                <span class="badge">{{ weather.temp.max | temp }}</span>
                <span class="label label-danger">{{'main.max' | translate}}</span>
              </li>
              <li class="list-group-item">
                <span class="badge">{{ weather.humidity }} %</span>
                <span class="label label-info">{{'main.humidity' | translate}}</span>
              </li>
              <li class="list-group-item">
                <span class="badge">{{ weather.pressure }} mmHg</span>
                <span class="label label-info">{{'main.pressure' | translate}}</span>
              </li>
              <li class="list-group-item">
                <span class="badge">{{ weather.wind.speed }} m/s</span>
                <span class="label label-info">{{'main.wind.speed' | translate}}</span>
              </li>
            </ul>
          </div>
        </div>

        <div ng-if="isForecast">
          <div ng-repeat="day in forecastDays">
            <div class="col-md-3">
              <h5 style="color:#009998">{{day.formattedDate}}  {{day.hour}}</h5>
              <div class="text-centered">
                <div class="row">
                  <div style="float:left"><img style="width:50px;height: 50px;" ng-src="{{ day.imgurl }}"></div>
                  <span class="badge">{{ day.temp.current | temp }}</span>
                </div>
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">{{ day.temp.min | temp }}</span>
                  <span class="label label-primary">{{'main.min' | translate}}</span>
                </li>
                <li class="list-group-item">
                  <span class="badge">{{ day.temp.max | temp }}</span>
                  <span class="label label-danger">{{'main.max' | translate}}</span>
                </li>
                <li class="list-group-item">
                  <span class="badge">{{ day.humidity }} %</span>
                  <span class="label label-info">{{'main.humidity' | translate}}</span>
                </li>
                <li class="list-group-item">
                  <span class="badge">{{ day.pressure }} mmHg</span>
                  <span class="label label-info">{{'main.pressure' | translate}}</span>
                </li>
                <li class="list-group-item">
                  <span class="badge">{{ day.wind.speed }} m/s</span>
                  <span class="label label-info">{{'main.wind.speed' | translate}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>